<p id="notice"><%= notice %></p>
<div class = "ui very padded container segment">
<h1>Jobs</h1>
<div class = "ui form">
<%= search_form_for @q do |f| %>

<div class="four fields">
  <div class = "field">
  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>
</div>
    <div class = "field">
  <%= f.label :description_start %>
  <%= f.search_field :description_start %>
</div>
    <div class = "field">
  <%= f.label :name_or_description_cont %>
  <%= f.search_field :name_or_description_cont %>
</div>
<div class = "field">
  <br>
    <%= f.submit "Search", class:  "ui blue button large" %>
</div>
</div>

<% end %>
</div>


    <div class="ui link cards">
    <% @jobs.each do |job| %>
    <div class="card">

    <div class="image">
      <%= image_tag(job.user.image_url)%>
    </div>

    <div class="content">
      <div class="header"><%= link_to "#{job.name}", job%> </div>
        <%=link_to job do %>
      <div class="description">
      <%= job.description%>
      </div>
      <% end %>
    </div>
    <div class="extra content">
      <span class="right floated">
        <%= job.city %>
      </span>
      <span>
        <i class="user icon"></i>
        <%=  job.volunteers_needed %> more needed.
      </span>
    </div>

  </div>
  <% end %>

  </div>

<br>
  <% if user_signed_in? %>
<% if current_user.has_role? :charity%>
<%= link_to 'New Job', new_job_path, class:  "ui blue button large" %>
<% end %>
<% end %>
</div>
