<p id="notice"><%= notice %></p>

<h1> <%= @job.name %> </h1>
<h2> By <%= @job.user.business_name %> </h2>

<p>
  <strong>Description:</strong> </br>
  <%= @job.description %>
</p>

<p>
  <strong>Address:</strong> </br>
  <%= @job.full_address %>.
</p>

<h3> Volunteers (<%= @job.volunteers_needed %> needed) </h3>
<% @volunteers.each do |volunteer| %>
<p> <%= volunteer.full_name %> </p>
<% end %>

<% unless @volunteers.include?(current_user) || current_user.has_role?(:charity) %>
   <%= link_to 'Express Interest', volunteer_jobs_path(@job) %>
<% end %>

<% if @job.user_id == current_user.id %>
<%= link_to 'Edit', edit_job_path(@job) %>
<%end %>

<%= link_to 'Back', jobs_path %>
