<p id="notice"><%= notice %></p>

<div class = "ui very padded container segment">

<div class="ui grid">
  <div class="six wide column">
    <div>
    <%= image_tag(@user.image_url, :class => "ui centered medium circular image")%>
  </div>
  <% if @user == current_user  %>
  <br>
  <%= link_to 'Edit Profile', edit_user_registration_path(@user), class: "fluid ui small blue button center align" %>
  <% end %>
  <br>
  <p>Google Maps: </p>
  <iframe
    width="300"
    height="300"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=<%=ENV['MAPS_KEY']%>
      &q=<%=@user.latitude%>,<%=@user.longitude%>" allowfullscreen>
  </iframe>
 </div>
  <div class = "ten wide column">
    <h1> <%= @user.full_name %> </h1>

    <h3>About Me: </h3>
    <div> <%= @user.bio %>  </div>
    <h3>Further Details: </h3>
    <p> <strong> Email: </strong> <%= @user.email %> </p>
    <p> <strong> Address: </strong> <%= @user.full_address %> </p>
    <br>
    <div class="ui grid">
      <div class="sixteen wide column">
    <h3>Events: </h3>
    <div class="ui grid">
    <% @jobs.each do |job| %>
    <div class="eight wide column">
    <p><strong><%=  job.name  %></strong></p>
    </div>
    <div class="eight wide column">
    <p><%= link_to "View Job..", job_path(job) %></p>
    <%end%>
    </div>
    </div>
  </br>
    <%= link_to 'New Jobs', new_job_path, class: "ui small blue button" %>
    </div>
    </div>

</div>
</div>


</div>


<% if @user == current_user  %>
<%unless @user.has_role? :premium %>
<%= form_tag charges_path(:user => current_user.id) do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="500"
          data-locale="auto"
          data-id="<%=@user.id%>"></script>
<% end %>
<%end%>
<%= link_to 'Edit Profile', edit_user_registration_path(@user) %>

<% end %>
<%= link_to 'Back', users_path %>
