<p id="notice"><%= notice %></p>
<h1> <%= @user.business_name %> </h1>
<h3> About Us: </h3>
<div> <%= @user.bio %>
<h3> Further Details: </h3>
<p> <strong> Email: </strong> <%= @user.email %> </p>
<p> <strong> Address: </strong> <%= @user.full_address %> </p>
<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=<%=ENV['MAPS_KEY']%>
    &q=<%=@user.latitude%>,<%=@user.longitude%>" allowfullscreen>
</iframe>
<h3> Jobs: </h3>
<% @jobs.each do |job| %>
<p><%=  job.name  %> </p>
<p> <%= link_to 'Show More', job_path(job) %> </p>
<%end%>
<% if @user == current_user  %>
<%= link_to 'Edit Profile', edit_user_registration_path(@user) %>
<%= link_to 'New Jobs', new_job_path %>
<% end %>
<%= link_to 'Back', users_path %>
