<p id="notice"><%= notice %></p>
<h1> <%= @user.full_name %> </h1>
<h3> About Me: </h3>
<div> <%= @user.bio %>
<h3> Further Details: </h3>
<p> <strong> Email: </strong> <%= @user.email %> </p>
<p> <strong> Address: </strong> <%= @user.full_address %> </p>
<h3> Skills: </h3>
<% @skills.each do |skill| %>
<p><%=  skill.name  %> </p>
<%end%>
<% if @user == current_user  %>
<%= link_to 'Edit Skills', skills_path %>
<%= link_to 'Edit', edit_user_registration_path(@user) %>
<% end %>
<%= link_to 'Back', users_path %>
