<div class = "ui very padded container segment">
<h1> <%= current_user.full_name.pluralize %> Skills </h1>


<div class="ui grid">
  <% @skills.each do |skill| %>
  <div class="four wide column">
    <div class="ui buttons">
  <button class="ui button"><%= skill.name.titleize %></button>
  <button class="ui button"><%= link_to 'x',  skill,  method: :delete, data: { confirm: 'Are you sure?' } %></button>
  </div>
</div>

  <% end %>
</div>
<br>
<%= link_to 'New Skill?', new_skill_path, class: "ui big blue button" %>
<div>
<%= link_to 'Back to Profile', user_path(@user) %>
</div>
</div>
