<!DOCTYPE html>
<html>
  <head>
    <title>NewVolumeteer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class="ui menu">
     <div class="header item">
       Volumeteer
     </div>
     <%= link_to "Jobs", jobs_path, class: "item" %>
     <div class="right menu">
       <% if current_user.nil? %>
        <%= link_to "Login", new_user_session_path, class: "item" %>
        <%= link_to "Register", new_user_registration_path, class: "item" %>
       <% else %>
        <%= link_to "Profile", user_path(current_user.id), class: "item" %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "item" %>
       <% end %>
     </div>
   </div>
    <%= yield %>
  </body>
</html>
